*.la
*.lex.[ch]
*.lo
*.o
*.tab.[ch]
/Makefile
/Makefile.in
COPYING
INSTALL
aclocal.m4
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
depcomp
examples/Makefile.in
install-sh
libtool
ltmain.sh
m4/*
missing
src/.deps/*
src/.libs/*
src/rlpp.h
src/stamp-h1
src/stamp-h2
tests/.deps/*
tests/.libs/*
