/*.log
/*.trs
/Makefile
/Makefile.in
/array
/bitfield
/bool
/char
/complex_double
/complex_float
/complex_long_double
/double
/dw_export
/dw_export.h
/dw_types
/dw_types.h
/dw_types.o.dSYM/
/enum
/expr
/float
/function
/ic
/int16
/int32
/int64
/int8
/long_double
/mem_allocations
/mf_cinit_load
/mf_cinit_save
/mf_json_load
/mf_json_save
/mf_mr_copy
/mf_mr_save
/mf_scm_load
/mf_scm_save
/mf_xdr_load
/mf_xdr_save
/mf_xml1_load
/mf_xml1_save
/mf_xml2_load
/mf_xml2_save
/mr_copy
/mr_hash_cmp
/mr_ptr
/mr_types
/pointer_int
/pointer_other
/resizable_pointer
/smoke_cinit
/smoke_json
/smoke_scm
/smoke_xdr
/smoke_xml1
/smoke_xml2
/string
/union

