name: ci

on: [ push, pull_request ]

jobs:
  ubuntu-gcc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: sudo apt-get install -y autoconf automake libtool pkg-config flex bison libxml2-dev check libdwarf-dev valgrind
      - name: autoconf/automake
        run: ./autogen.sh
      - name: configure
        run: ./configure CC=gcc
      - name: make check
        run: make check

  ubuntu-clang:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: sudo apt-get install -y autoconf automake libtool pkg-config flex bison libxml2-dev check libdwarf-dev valgrind
      - name: autoconf/automake
        run: ./autogen.sh
      - name: configure
        run: ./configure CC=clang
      - name: make check
        run: make check
      - name: check with valgrind
        run: cd tests; make valgrind

  macos-clang:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: brew install autoconf automake libtool pkg-config flex bison libxml2 check
      - name: install libdwarf
        run: |
          git clone git://git.code.sf.net/p/libdwarf/code libdwarf-code
          cd libdwarf-code
          sh ./autogen.sh
          ./configure
          make
          make install
      - name: autoconf/automake
        run: ./autogen.sh
      - name: configure
        run: ./configure HAVE_BISON=yes YACC=/usr/local/opt/bison/bin/bison LIBS=-lz CPPFLAGS=-I/usr/local/include/libdwarf-0
      - name: make check
        run: make check
